{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-unused-vars": "off",
    "max-len": ["warn", { "code": 105, "ignoreComments": true }],
    "no-multiple-empty-lines": ["warn", { "max": 2 }],
    "indent": ["warn", 2],
    "jsx-quotes": ["warn", "prefer-double"],
    "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
    "arrow-parens": ["warn", "as-needed"],
    "implicit-arrow-linebreak": ["warn", "beside"],
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "block-spacing": ["warn", "always"],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "comma-dangle": ["warn", "always-multiline"],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "semi": ["warn", "always"],
    "object-curly-spacing": ["warn", "always"],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }]
  },
  "env": {
    "jest": true
  },
  "ignorePatterns": ["/src/components/layout/Logo.tsx"]
}
